
body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}



td,
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 20px;
}

tr:nth-child(even),
table.list thead>tr {
    background-color: #dbd9d9;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(203, 214, 214);
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(203, 214, 214);
}

input[type=submit] {
    
    width: 100%;
    background-color: rgb(84, 84, 84);
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(203, 214, 214);
}

.select {
    background-color: rgb(203, 214, 214);
    position: relative;
    font-family: Arial;
    color: rgb(13, 13, 13);

}


input[type="date"] {
    background: transparent;
    color: black;
    background-color: rgb(203, 214, 214);
}

form div.action {
    /* text-align: center; */
    display: inline-block;
}

form div.auto {
    text-align: left;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(158, 123, 123);
    margin-right: 6px;
}